$sideNavWidth:250px;
$menuBG:#222;
$transition : .33s cubic-bezier(.7,.15,.36,1);

/* Reset */
*{ margin:0; padding:0; -moz-box-sizing:border-box; box-sizing:border-box; }
html{ height:100%; }
p{ padding:10px 0; }
body{ height:100%; font-family:arial; position:relative; background:$menuBG; overflow-x:hidden; }
.floatl{ float:left; }
.floatr{ float:right; }

/* Side menu */
.sideMenu{ position:fixed; top:0; bottom:0; z-index:0; width:$sideNavWidth; background:$menuBG; color:#FFF; padding:20px; text-transform:uppercase;
  h2{  }
  &.left{ opacity:.5; transform:translatex(-40px); transition:$transition; }
  &.right{ left:auto; right:0; }
  > ul{ padding:0; list-style:none; margin:20px 0;
    > li{ border-top:1px solid rgba(255,255,255,0.1); position:relative; overflow:hidden; 
      a{ color:#CCC; text-decoration:none; display:block; line-height:3.2; font-size:0.8em; font-weight:bold; margin:0 -10px; padding:0 20px; overflow:hidden; white-space:nowrap; transition:.4s cubic-bezier(.3, .8, .5, 1.08);
        &:hover{ color:$menuBG; text-indent:$sideNavWidth; }
        &::before{ content:attr(data-value); color:#FFF; float:left; width:$sideNavWidth; margin-left:-$sideNavWidth; }
      }
    }
  }
}
 
/* Toggle button */
.menuBtn{ z-index:99;position:absolute; top:32px; display:inline-block; background:#2ecc71; border-radius:50px; color:#FFF; cursor:pointer; display:block; font:bold 1.7em/36px Courier New; width:36px; height:36px; text-align:center; transition:0.15s;
  &:hover{ background:#222; }
}
.plusBtn{ left: 5px; }
.linesBtn{ text-shadow:0 -5px, 0 5px; right: 5px;}

/* Content handing */
#contentWrap{ min-height:100%; position:relative; z-index:1; background:#FFF; padding:20px; transition:$transition;
  #sideToggle1:checked ~ &{ border-radius:8px; transform:translatex($sideNavWidth); }
  #sideToggle2:checked ~ &{ transform:translatex(-$sideNavWidth); border-radius:8px; }
}

#sideToggle1:checked ~ .sideMenu.left{ opacity:1; transform:none; }






/* - - - - - - - Start root.css converted*/
@import "https://fonts.googleapis.com/css?family=Oswald:400,700";
html {
  background: #ecf0f1;
}
body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
a {
  color: #555;
  outline: none;
  text-decoration: none;
  &:visited {
    color: #555;
    outline: none;
    text-decoration: none;
    &:hover {
      color: #22a1c4;
      text-decoration: none;
    }
  }
  &:hover {
    color: #22a1c4;
    text-decoration: none;
  }
  &:focus {
    color: #22a1c4;
    text-decoration: none;
  }
}
#pageContent {
  background: #fff;
  position: relative;
  margin: 5% auto;
  width: 100%;
  max-width: 920px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
  z-index: 3;
}
#header {
  margin: 0;
  padding: 20px 0;
  background: #fdfdfd;
  h1 {
    display: table;
    color: #2c3e50;
    font-weight: 700;
    text-align: center;
    margin: auto;
    padding: 40px 20px 20px 20px;
    font-size: 45px;
  }
  p {
    display: block;
    color: #999;
    font-weight: 400;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 18px;
  }
}
#options-wrapper {
  .boxi {
    width: 31.1%;
    height: 200px;
    float: left;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    background: #e1e1ed;
    transition: all .6s;
    &:hover {
      background: #3d556d;
    }
    &:after {
      position: relative;
      color: black;
      opacity: .35;
      display: inline-block;
      font-family: FontAwesome;
      top: 90px;
      font-size: 80px;
    }
  }
  #boxi1 {
    &:after {
      content: '\f055';
    }
  }
  #boxi2 {
    &:after {
      content: '\f007';
    }
  }
  #boxi3 {
    &:after {
      content: '\f118';
    }
  }
}
#menuwrap {
  background: #fff;
  position: relative;
  padding: 0;
  height: 60px;
  overflow: hidden;
}
#menu {
  position: absolute;
  width: 100%;
  max-width: 920px;
  height: 60px;
  margin: auto;
  background: #2c3e50;
  z-index: 20;
  span {
    display: table;
    color: rgba(255, 255, 255, .3);
    text-align: center;
    margin: auto;
    line-height: 60px;
    font-size: 20px;
  }
}
#content {
  position: relative;
  margin: 0;
  background: #fff;
  padding: 20px;
  overflow: hidden;
}
#main {
  position: relative;
  float: left;
  width: 66%;
  background: #fff;
  h3 {
    display: block;
    color: #999;
    font-weight: 400;
    text-align: left;
    margin: 0 0 20px 0;
    font-size: 18px;
  }
}
#box {
  position: relative;
  height: 170px;
  display: block;
  background: #ecf0f1;
  margin: 0 0 20px 0;
  &:last-child {
    margin: 0;
  }
  &:before {
    position: absolute;
    content: '';
    display: inline-block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 170px;
    width: 250px;
    margin: 0;
    background: #fff url('http://4.bp.blogspot.com/-85zQwMdLm24/VmGwA9aFRgI/AAAAAAAAAVM/AHpkZL9MdTQ/s1600/Nubie%2BBanget%2BBlogger%2BTemplate.jpg') center;
    background-size: cover;
  }
  &:after {
    position: absolute;
    content: '\f030';
    font-family: FontAwesome;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 170px;
    line-height: 170px;
    width: 250px;
    margin: 0;
    color: rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, 0.4);
    font-size: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    z-index: 2;
    cursor: pointer;
  }
  &:hover {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}
#box2 {
  position: relative;
  height: 170px;
  display: block;
  background: #ecf0f1;
  margin: 0 0 20px 0;
  &:before {
    position: absolute;
    content: '';
    display: inline-block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 170px;
    width: 250px;
    margin: 0;
    background: #fff url('http://4.bp.blogspot.com/-85zQwMdLm24/VmGwA9aFRgI/AAAAAAAAAVM/AHpkZL9MdTQ/s1600/Nubie%2BBanget%2BBlogger%2BTemplate.jpg') center;
    background-size: cover;
    background: #fff url('http://2.bp.blogspot.com/-V5Pi6tg3kk4/VmFRvAbi6rI/AAAAAAAAATc/9gm3XBewj0k/s1600/Sweet%2BYummy%2BChocolate%2BCake.jpg') center;
    background-size: cover;
  }
  &:after {
    position: absolute;
    content: '\f030';
    font-family: FontAwesome;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 170px;
    line-height: 170px;
    width: 250px;
    margin: 0;
    color: rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, 0.4);
    font-size: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    z-index: 2;
    cursor: pointer;
  }
  &:hover {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}
#box3 {
  position: relative;
  height: 170px;
  display: block;
  background: #ecf0f1;
  margin: 0 0 20px 0;
  &:before {
    position: absolute;
    content: '';
    display: inline-block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 170px;
    width: 250px;
    margin: 0;
    background: #fff url('http://4.bp.blogspot.com/-85zQwMdLm24/VmGwA9aFRgI/AAAAAAAAAVM/AHpkZL9MdTQ/s1600/Nubie%2BBanget%2BBlogger%2BTemplate.jpg') center;
    background-size: cover;
    background: #fff url('http://2.bp.blogspot.com/-xA82xCIl_8M/VmFRX7fxEaI/AAAAAAAAATU/BXBvzBFgiK0/s1600/Top%2BDestinations%2BTo%2BTravel%2BNext%2BSummer.jpg') center;
    background-size: cover;
  }
  &:after {
    position: absolute;
    content: '\f030';
    font-family: FontAwesome;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 170px;
    line-height: 170px;
    width: 250px;
    margin: 0;
    color: rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, 0.4);
    font-size: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    z-index: 2;
    cursor: pointer;
  }
  &:hover {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}
#side {
  width: 100%;
  max-width: 280px;
  float: right;
  position: relative;
  padding: 0;
  overflow: hidden;
  h2 {
    display: block;
    text-align: center;
    padding: 15px 0;
    background: #95a5a6;
    color: #fff;
    font-size: 150%;
    margin: auto;
  }
}
#sidecontent2 {
  width: 280px;
  height: 200px;
  margin: 0 auto 20px auto;
  background: #bdc3c7;
  position: relative;
  span {
    position: absolute;
    color: rgba(255, 255, 255, .4);
    text-align: center;
    margin: auto;
    padding: 20px 0;
    font-size: 25px;
    left: 0;
    right: 0;
    top: 35%;
  }
}
#sidecontent3 {
  width: 280px;
  height: 200px;
  margin: 0 auto 20px auto;
  background: #bdc3c7;
  position: relative;
  background: #3498db;
  span {
    position: absolute;
    color: rgba(255, 255, 255, .4);
    text-align: center;
    margin: auto;
    padding: 20px 0;
    font-size: 25px;
    left: 0;
    right: 0;
    top: 35%;
    position: relative;
    color: rgba(255, 255, 255, .4);
    display: inline-block;
    text-align: center;
    margin: 80px 0 0 65px;
    padding: 0;
  }
}
#footer-wrapper {
  position: relative;
  display: block;
  background: #2c3e50;
  overflow: hidden;
  padding: 10px;
  border-top: 5px solid #2ecc71;
  h2 {
    display: table;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 200%;
    margin: auto;
  }
  .boxi {
    width: 31.1%;
    height: 200px;
    float: left;
    margin: 10px;
    background: #34495e;
    transition: all .6s;
    &:hover {
      background: #3d556d;
    }
  }
}
#credit {
  margin: 3em 0 0 0;
  background: #2ecc71;
  span {
    display: table;
    color: rgba(255, 255, 255, .6);
    text-align: center;
    font-size: 16px;
    line-height: 80px;
    margin: auto;
  }
}
.cf {
  &:before {
    display: table;
  }
  &:after {
    display: table;
    clear: both;
    content: ' ';
  }
}
.back-to-top {
  visibility: hidden;
  background-color: #2c3e50;
  color: #fff;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 38px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 90;
  cursor: pointer;
  opacity: 0;
  border-radius: 3px;
  -webkit-transform: translateZ(0);
  transition: all .4s;
  .fa {
    font-size: 22px;
    vertical-align: middle;
  }
  &:hover {
    background-color: #2ecc71;
    color: #fff;
    opacity: 1;
  }
}
.back-to-top.show {
  visibility: visible;
  opacity: 1;
}

/*sign in stuff*/


$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

*, *:before, *:after {
  box-sizing: border-box;
}




.userform a {
  text-decoration:none;
  color:$main;
  transition:.5s ease;
  &:hover {
    color:$main-dark;
  }
}

.userform {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.userform .tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.userform .tab-content > div:last-child {
  display:none;
}


.userform h1 {
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

.userform label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
    margin:2px;
    color:$main;
  }
}

.userform label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

.userform label.highlight {
  color:$white;
}

.userform input, .userform textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
    outline:0;
    border-color:$main;
  }
}

.userform textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.userform .field-wrap {
  position:relative;
  margin-bottom:40px;
}

.userform .top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.userform .button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}




/*recipe - - - - - - - - - - - - - - -- -- -- - - - --- */

.recipe{


$tuna: #2F3138;
$mischka: #D1D1DD;
$boston-blue: #3885CA;
$tulip-tree: #EBA444;
$apricot-peach: #F9CCB2;
$citrine-white: #F8F6CC;



*,
*::before,
*::after {
  box-sizing: border-box;
}



h1 {  
  font-size: 2.5rem;
  text-align: center;
  background-color: $mischka;
  padding: 16px 0;
  margin: 20px 0;
  position: relative;
  
  &:before,
  &:after {
    position: absolute;
    content: "";
    height: .5rem;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $boston-blue;
    border-bottom: 1px solid $boston-blue;
  }
  
  &:after {
    top: auto;
    bottom: 0;
  }
}

h2 {
  font-size: 1rem;
  margin: 0;
  flex: 1 0 50%;
  overflow: hidden;
  white-space: nowrap;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.recipe {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background-color: $tulip-tree;
  color: $citrine-white;
  line-height: 1.5rem;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  position: relative;
  font-weight: bold;
  
  .btn-recipe {
    color: $tulip-tree;
    background-color: $citrine-white;
  }
}

%btn {
  font-weight: bold;
  font-size: 1.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
}

.btn-recipe {
  @extend %btn;
  flex: 0 0 auto;

  i {
    font-size: 1rem;
  }
}

.ingredientList {
  flex: 1 100%;
  display: flex;
  flex-flow: column;
  li {
    flex: 1 100%;
    color: $boston-blue;
    font-weight: normal;
    background-color: $apricot-peach;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    
    span {
      margin: 0;
      padding: 0;
    }
  }
}

#app {
  margin: 0 24px;
}

.recipeBox {
  display: flex;
  flex-flow: column;
  background-color: $citrine-white;
  border-radius: 16px;
  margin: 16px auto;
  max-width: 600px;
  box-shadow: 5px 5px 5px 0 darken($apricot-peach, 5%);
}

.recipeControls {
  display: flex;
  flex-flow: row wrap;
  background-color: $boston-blue;
  border-radius: 4px;
  margin: 16px 8px;
    
  .recipeControlsForm {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
  }
  
  .recipeName {
    flex: 1 1 auto;
    color: $boston-blue;
    background-color: $mischka;
    border: none;
    padding: 0 4px;
    border-radius: 4px;
    line-height: 1.5rem;
    margin: 8px;
  }
  .btn-add {
    @extend %btn;
    margin: 8px;
    background-color: $mischka;
    color: $boston-blue;
    flex: 0 0 auto;
    
    i {
      font-size: 1rem;
    }
  }
}

.buttonTools {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  li {
    margin: 0 4px;
  }
    
  li:last-child {
    margin: 0 0 0 16px;
  }
}

.modal {
  margin: 8px;
  display: flex;
  flex-flow: row wrap;
  flex-flow: column;
  width: 100%;
  
  .url-input {
    flex: 1 1 100%;
    display: flex;
    
    span {
      flex: 0 0 auto;
      cursor: auto;
    }
  }
  
  .modalIngredientList {
    
    li {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      line-height: 1.5rem;
      color: $boston-blue;
      font-weight: normal;
      background-color: $citrine-white;
      border-radius: 4px;
      padding: 8px;
      margin: 8px;
      cursor: grab;
      
      &:before {
        font-family: FontAwesome;
        content: "\f07d";
        color: $mischka;
      }
      
      .btn-recipe {
        background-color: $boston-blue;
        color: $citrine-white;
      }
    }
  }
  
  .recipeName {
      flex: 1 1 auto;
      font-size: 2.5rem;
      text-align: center;
  }
  
  .btn-modal-controls {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    
    .btn-modal {
    @extend %btn;
    width: auto;
    margin: 8px;
    font-size: 1rem;
    background-color: $mischka;
    color: $boston-blue;
    flex: 0 0 auto;
    }
  }
}

.addIngredient {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  
  %input {
    color: $boston-blue;
    background-color: $mischka;
    border: none;
    padding: 0 4px;
    border-radius: 4px;
    line-height: 1.5rem;
    margin: 8px;
  }
  
  input[type="text"] {
    @extend %input;
    flex: 2 1 55%;
  }
  
  input[type="number"] {
    @extend %input;
    max-width: 60px;
    flex: 1 1 auto;
  }
  
  input[type="url"] {
    @extend %input;
    flex: 1 1 auto;
  }
  
  select {
    @extend %input;
    padding: 2px 4px;
  }
}

.eraseBox {
  width: 100%;
  margin: 8px 0 28px;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    height: .5rem;
    left: 0;
    right: 0;
    border-top: 1px solid $boston-blue;
    border-bottom: 1px solid $boston-blue;
  }
}

.btn-box {
  @extend %btn;
  width: 100px;
  font-size: 1rem;
  line-height: 1rem;
  color: $citrine-white;
  background-color: $tulip-tree;
  border: 0;
  margin: 16px auto;
  padding: 4px;
  
}

.hidden {
  display: none !important;
}

.active {
  display: inherit;
}
}